.ml-1 {
  margin-left: var(--space) !important;
}
.ml-2 {
  margin-left: calc(var(--space) * 2) !important;
}
.ml-3 {
  margin-left: calc(var(--space) * 3) !important;
}

.mt-1 {
  margin-top: var(--space) !important;
}
.mt-2 {
   margin-top: calc(var(--space) * 2) !important;
}
.mt-3 {
  margin-top: calc(var(--space) * 3) !important;
}

.mb-1 {
  margin-bottom: var(--space) !important;
}

.mb-2 {
  margin-bottom: calc(var(--space)  * 2) !important;
}

.mb-3 {
  margin-bottom: calc(var(--space)  * 3) !important;
}

.ml-auto {
  margin-left: auto !important;
}

.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.d-inline-block {
  display: inline-block !important;
}

.align-end {
  align-items: flex-end !important;
}
.align-center {
  align-items: center !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-self-end {
  justify-self: end !important;
}

.gap-1 {
  gap: var(--space) !important;
}
.gap-2 {
  gap: calc(var(--space) * 2) !important;
}
.gap-3 {
  gap: calc(var(--space) * 3) !important;
}

.grow {
  flex-grow: 1 !important;
}

.w-100 {
  width: 100% !important;
}

.p-3 {
  padding: calc(var(--space) * 3) !important;
}

.p-2 {
  padding: calc(var(--space) * 2) !important;
}

.p-1 {
  padding: var(--space) !important;
}

.pt-3 {
  padding-top: calc(var(--space) * 3) !important;
}
.pb-1 {
  padding-bottom: var(--space) !important;
}
.pb-3 {
  padding-bottom: calc(var(--space) * 3) !important;
}
.fs-small {
  font-size: var(--fs-small) !important;
}
.fs-medium {
  font-size: var(--fs-medium) !important;
}

.fw-700 {
  font-weight: 700;
}

.color-accent {
  color: var(--c-accent) !important;
}

.text-center {
  text-align: center !important;
}
