.ml-1 {
  margin-left: 4px !important;
}
.ml-2 {
  margin-left: 8px !important;
}
.ml-3 {
  margin-left: 12px !important;
}

.d-inline-block {
  display: inline-block !important;
}

.w-100 {
  width: 100%;
}
