html { font-size: 10px; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

/* https://css-tricks.com/snippets/css/system-font-stack/ */
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: var(--c-background);
  font-family: system-ui;
}

modals-container {
  position: relative;
  z-index: var(--z-idx-super);
}

/* todo move to component */
.textarea-base {
  border: none;
  outline: none;
  background: none;
  padding: 8px 12px;
  box-shadow: var(--main-shodow-inside);
  border-radius: var(--default-b-radius);
  font-size: var(--fs-main);

  &:active {
    color: var(--main-contrast-hard);
    box-shadow: var(--main-shodow-bottom)
  }

  &:focus-visible {
    outline: 2px solid var(--main-contrast-hard);
    outline-offset: 1px;
  }
}
