@import 'base';
@import 'atomic';
@import 'vars';

* {
  box-sizing: border-box;
}

body {
  background-color: var(--c-background);
}

#app {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  color: var(--main-contrast);
}

.router-link-active {
  color: var(--c-accent);
}

a {
  color: var(--main-contrast);
}
