@import 'base';
@import 'atomic';
@import 'vars';
@import "media";

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.under-header {
  margin-top: var(--header-height-desktop) !important;

  @include devices-tablet {
    margin-top: var(--header-height-tablet) !important;
  }
}
